.blogs-bounds {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.blogs-wrapper {
    width: 100%;
    max-width: 1536px;
    height: 100%;
}

.blogs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 10px;
    width: 100%;
    padding: 1rem;
}

.blogs-grid-item {
    position: relative;
    height: 10rem;
    padding: 1.5rem;
}

.blogs-grid-item h1 {
    width: 100%;
    font-size: 1.5rem;
    text-align: left;
    color: var(--colour-9);
}

.blogs-grid-item p {
    
}

.blogs-grid-item-author {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    color: var(--colour-6)
}

.blogs-grid-item-publish-date {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    color: var(--colour-5)
}