.blogs-bounds {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: calc(100vh + 4rem);
    overflow: hidden;
}

.blogs-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1536px;
    height: 100%;
}
