.primary {
    background-color: var(--colour-9);
    color: var(--colour-1);
  }
  
  .primary:hover {
    background-color: var(--colour-8);
    transition: 0.1s ease-in-out;
  }
  
  .secondary {
    background-color: var(--colour-0);
    color: var(--colour-9);
    border: 1px solid var(--colour-3);
  }
  
  .secondary:hover {
    background-color: var(--colour-2);
    transition: 0.1s ease-in-out;
  }