.hero-bounds {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -4rem;
  width: 100vw;
  height: calc(100vh + 4rem);
  background: linear-gradient(180deg, var(--accent-1) 0%, var(--colour-0) 100%);
  backdrop-filter: blur(30px);
  background-color: rgba(148, 17, 255, 0.15);
  overflow: hidden;
}

.dot-canvas {
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
}

.hero-gradient-1 {
  position: absolute;
  top: 0vh;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, var(--colour-0) 0%, rgba(0, 0, 0, 0) 50vw);
  color: hsl(51, 100%, 50%);
}

.hero-gradient-2 {
  position: absolute;
  top: 0vh;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 150vh;
  background: linear-gradient(0deg, var(--accent-1) 0%, rgba(0, 0, 0, 0) 80vh);
}

.hero-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1536px;
  height: 100%;
}

.hero-title {
  position: absolute;
  top: 18vh;
  margin-top: 3rem;
  text-align: center;
  font-family: 'Inter', Helvetica, sans-serif;
  /* Fixed font family syntax */
  font-size: 12rem;
  font-weight: 800;
  text-shadow: 0px 0px 10rem var(--accent-2);
  background: var(--hero-title-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fade-up 0.5s forwards;
  /* Changed animation-fill-mode to forwards */
  z-index: 10;
}

.hero-content {
  position: absolute;
  top: 80vh;
  left: 50%;
  width: 100%;
  max-width: 32rem;
  height: 50vh;
  padding: 1rem;
  transform: translate(-50%, -50%);
}

.hero-description {
  display: flex;
  justify-content: center;
}

.hero-description p {
  width: 100%;
  padding-bottom: 3rem;
  text-align: center;
}

.hero-buttons-list {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1.5rem;
}

.hero-buttons-list button {
  width: 12rem
}

/* mobile */
@media (max-width: 700px) {
  .hero-title {
    text-align: center;
    margin-top: 4rem;
    font-size: 5rem
  }
}

.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  opacity: 0.2;
  pointer-events: none;
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: #00c2ff;
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(16px);
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: #ffc640;
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: #33ff8c;
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: #571962;
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}