.no-image-found-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
}

.no-image-found-card span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--colour-9);
    opacity: 0.4;
}

.no-image-found-card-img {
    height: 80% !important;
    width: 100% !important;
    /* color: var(--colour-9);
    opacity: 0.1; */
    fill: var(--colour-9) !important;
    opacity: 0.05;
}