.items-bounds {
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.items-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1536px;
    height: 100%;
    position: relative;
}

.items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    width: 100%;
    padding: 1rem;
    background-color: yellow;
}

.items-grid-card {
    display: flex;
    justify-content: center;
    position: relative;
    height: 20rem;
    background-color: green;
}

.items-grid-card-info {
    flex-direction: column;
    position: absolute;
    bottom: 0;
}

.items-grid-card-info h1 {
    font-size: 1.5rem;
    text-align: center;
    background-color: red;
}

.items-grid-card-info p {
    font-size: 1rem;
    text-align: center;
    background-color: pink;
}