.item-page-bounds {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100vw;
}

.item-page-wrapper {
  width: 100%;
  max-width: 1536px;
  height: 100%;
}

.item-page-top {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  flex-direction: row;
}

.item-page-left {
  display: flexbox;
  justify-content: center;
  grid-column: span 4/span 4;
  width: span 4/span 4;
  padding: 1rem;
  height: 100%;
  padding-top: 2rem;
  border-right: 1px solid var(--colour-3);
}

.item-page-left img {
  width: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 70%);
  transition: 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.item-page-left img:hover {
  scale: 1.05;
}

.item-page-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  grid-column: span 6/span 6;
}

.item-page-right-row {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid var(--colour-3);
}

.item-page-right-row p {
  font-size: 1.2rem;
}

.item-page-right-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  grid-auto-rows: minmax(100px, auto);
  width: 100%;
}

.item-page-right-info-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
}

.item-page-right-info-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.item-page-right-info-row span {
  text-align: left;
  font-size: 1.1rem;
  font-weight: 500;
}

.item-page-right-info-row p {
  text-align: left;
  font-size: 1.1rem;
  font-weight: 300;
}

.item-page-bottom {
  width: 100%;
  padding: 1.5rem;
  border-top: 1px solid var(--colour-3);
}

.item-page-bottom h1 {
  padding-bottom: 1rem;
  color: var(--colour-6);
}

.item-page-sales-chart {
  width: 100%;
  height: 25rem;
  border-radius: var(--border-radius);
  background-color: var(--colour-1);
  box-shadow: 0 0 0 1px var(--colour-2);
}

/* mobile */
@media (max-width: 700px) {
  .item-page-top {
    display: flex;
    flex-direction: column;
  }

  .item-page-left {
    padding: 6rem 0 0 0;
    border: none;
  }

  .item-page-right {
    padding: 0;
  }

  .item-page-right-info {
    gap: 0.5rem;
  }

  .item-page-right-row {
    padding: 2rem;
  }
}