.items-bounds {
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.items-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1536px;
    height: 100%;
}

.items-wrapper p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    width: 100%;
    padding: 1rem;
}

.items-grid a {
    display: block;
    height: 20rem;
}

.items-grid-card img {
    height: 80%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 70%);
    transition: 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.items-grid-card:hover img {
    scale: 1.05;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 80%);
}

.items-grid-card-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    bottom: 0rem;
}

.items-grid-card-info h1 {
    position: relative;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    color: var(--colour-9);
}

.items-grid-card-info p {
    position: relative;
    width: 100%;
    font-size: 1rem;
    text-align: center;
}

