.item-page-bounds {
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.item-page-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1536px;
    min-height: 100vh;
    position: relative;
}

.item-page-desktop {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    flex-direction: row;
}

.item-page-left {
    display: flexbox;
    justify-content: center;
    grid-column: span 4/span 4;
    padding: calc(min(4rem, 20%));
    height: 100%;
    padding-top: 8rem;
    border-right: 1px solid var(--colour-3);
}

.item-page-right {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
    grid-column: span 6/span 6;
    padding-left: 1rem;
}