.loading-card {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(110deg, rgb(200, 200, 200) 8%, rgb(255, 255, 255) 18%, rgb(200, 200, 200) 33%);
  opacity: 0.1;
  border-radius: 5px;
  background-size: 400% 100%;
  z-index: 200;
  animation: 5s shine linear infinite;
  margin: -0.5rem;
}

@keyframes shine {
  to {
    background-position-x: -400%;
  }
}